@media  screen and (min-width: 800px){
body{
    background-color: pink !important;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #000000af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
}

  /* OVERLAY 
  =============================== */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
    overflow: hidden;
  }
  .overlay.first {
    background: white;
  }
  .overlay.second {
    background: white;
    left: 33.33%;
  }
  .overlay.third {
    background: white;
    left: 66.66%;
  }
}
@media  screen and (max-width: 768px){
  body{
    width: 100vw;
    background-color: pink !important;
}
#container{
    width:100vw;
    margin-left: 5%;
    margin-top:50%;
}

form {
    width:90vw;
    padding: 1vw;
    border: 1px solid #f1f1f1;
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #000000af;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
}

  /* OVERLAY 
  =============================== */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 50;
    overflow: hidden;
  }
  .overlay.first {
    background: white;
  }
  .overlay.second {
    background: white;
    left: 33.33%;
  }
  .overlay.third {
    background: white;
    left: 66.66%;
  }
}